/**
 * @package CSSecoThemes
 * csseco.admin.css
 *
 */

/* Cacatu ala de titlu de pe about options */
.csseco_about_class {
    margin: 0 auto;
    outline: 1px solid #2b2280;
    text-align: center;
    width: 80%;
}

.csseco_about_class p {
    font-size: 24px;
}
/* END Cacatu ala de titlu de pe about options */

/* On about admin options page the post fortmats have lower case */
label[class*="csseco-label-"] {
    text-transform: capitalize;
}
/* END On about admin options page the post fortmats have lower case */
