/**
 * @package CSSecoThemes
 * csseco.admin.css
 */

.csseco_admin_logo_preview {
  height: auto;
  margin: 5px 0 0 15px;
  max-height: auto;
  max-width: 150px;
  width: 100%;
  img {
    height: auto;
    max-width: 100%;
    padding: 3px;
    width: 100%;
  }
}

/* On about admin options page the post fortmats have lower case */
label[class*="csseco-label-"] {
  text-transform: capitalize;
}