/**
 * @package CSSecoThemes
 * csseco.scss to css/csseco.css
 */
/*--------------------------------------------------------------
>>>>>> CSSeco Styles(usualy overwrite bootsrap styles :))
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    # CSSeco Imports
    # Generic
    # Header
    ## Header Menu
    # Menu styles (wp ready)
    # Footer
    ## Footer Menu
    # Globals and Posts Formats
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# CSSeco Imports
--------------------------------------------------------------*/
@import 'fonts/fonts.css';               // Fonts
@import 'base/variables';                // Variables
@import 'base/mixins';                   // Mixins
@import 'base/placeholders';             // Placeholders

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
body {
  font-family: $csseco_body_font_fira;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

a {
  color: $csseco_primary-color;
  @include animate( color, 320ms );
  &:hover,
  &:focus {
    text-decoration: none;
    color: $csseco_light-grey;
  }
}

.bg-img-el {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#cssecoHeader {

  /*------------------------------------------------------------
  ## Header Menu
  ------------------------------------------------------------*/
  nav.header_menu {}

}

/*--------------------------------------------------------------
# Menu styles (wp ready)
--------------------------------------------------------------*/
nav#cssecoMenu {
  background: $csseco_menu_bg_color;
  i.csseco_menu_burger {
    cursor: pointer;
    display: none;
    font-size: 22px;
    padding: 10px;
    @media screen and (max-width: $csseco_screen-sm) {
      display: inline-block;
    }
  }
  > ul.menu {
    background: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 20;
    li {
      position: relative;
      width: auto;
      a {
        display: block;
        margin: 5px 20px;
        padding: 0 15px;
        text-align: center;
        text-decoration: none;
        @media screen and (max-width: $csseco_screen-sm) {
          display: block;
        }
      }
      ul {
        min-width: 100%;
        z-index: 30;
      }
      > ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: $csseco_screen-sm) {
          position: relative;
          min-width: auto;
          width: 100%;
        }
      }
      &.opened > a,
      &:hover > a {
        font-weight: bold;
      }
      &.opened > ul {
        display: block;
      }
      &.opened {
        background: $csseco_menu_bg_color_hover-active;
      }
      &.menu-item-has-children {
        > a {
          &::after {
            background: transparent;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            height: 15px;
            position: absolute;
            right: 2px;
            text-align: center;
            text-indent: initial;
            text-rendering: auto;
            top: 7px;
            width: 15px;
            z-index: 30;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            @media screen and (max-width: $csseco_screen-sm) {
              right: 5px;
            }
          }
        }
      }
      @media screen and (max-width: $csseco_screen-sm) {
        width: 100%;
      }
    }
    > li {
      display: inline-block;
      > ul {/* depth 1 */
        background: $csseco_menu_bg_color_depth_1;
        left: 0;
        text-align: left;
        top: 100%;
        width: auto;
        li {
          display: inline-block;
        }
        > li {
          > a {
            @media screen and (max-width: $csseco_screen-sm) {
              text-indent: 20px;
            }
          }
          ul {/* depth >=2 */
            background: $csseco_menu_bg_color_depth_2;
            left: 100%;
            position: absolute;
            text-align: left;
            top: 0;
            width: auto;
            @media screen and (max-width: $csseco_screen-lg) {
              left: 0;
              position: relative;
            }
            @media screen and (min-width: $csseco_screen-sm) and (max-width: $csseco_screen-lg) {
              border-color: #000;
              border-style: solid;
              border-width: 1px 0;
            }
            > li {
              > a {
                @media screen and (max-width: $csseco_screen-sm) {
                  text-indent: 40px;
                }
              }
            }
            @media screen and (max-width: $csseco_screen-sm) {
              left: 0;
            }
          }
          &.menu-item-has-children {
            > a {
              &::after {
                content: '\f054';
                @media screen and (max-width: $csseco_screen-lg) {
                  content: '\f078';
                }
              }
            }
            &.opened {
              > a {
                &::after {
                  content: '\f053';
                  @media screen and (max-width: $csseco_screen-lg) {
                    content: '\f077';
                  }
                }
              }
            }
          }
          @media screen and (max-width: $csseco_screen-sm) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      &.menu-item-has-children {
        > a {
          &::after {
            content: '\f078';
          }
        }
        &.opened {
          > a {
            &::after {
              content: '\f077';
            }
          }
        }
      }
      &.opened {
        @media screen and (max-width: $csseco_screen-sm) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor,
    li.current-menu-ancestor {/* active */
      background: $csseco_menu_bg_color_hover-active;
      > a {
        font-weight: bold;
      }
    }
    @media screen and (max-width: $csseco_screen-sm) {
      display: none;
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#cssecoFooter {
  background-color: #333;
  margin-top: 40px;
  padding: 20px 0;
  /*------------------------------------------------------------
  ## Footer Menu
  ------------------------------------------------------------*/
  nav.footer_menu {
    ul.menu {
      display: block;
    }
  }

}

/*--------------------------------------------------------------
# Globals and Posts Formats
--------------------------------------------------------------*/
@import 'base/globals';                  // Global Elements
@import 'posts-formats/standard-pf';     // Post Format: Standard
@import 'posts-formats/image-pf';        // Post Format: Image
@import 'posts-formats/audio-pf';        // Post Format: Audio
@import 'posts-formats/video-pf';        // Post Format: Video
@import 'posts-formats/gallery-pf';      // Post Format: Gallery
@import 'posts-formats/quote-pf';        // Post Format: Quote
@import 'posts-formats/link-pf';         // Post Format: Link
@import 'posts-formats/aside-pf';        // Post Format: Aside
@import 'posts-formats/status-pf';       // Post Format: Status
@import 'posts-formats/chat-pf';         // Post Format: Chat