/**
 * @package CSSecoThemes
 * posts-formats/_gallery-pf.scss
 *
 * Gallery Post Format style
 */

article.csseco-format-gallery {
  header.entry-header {
    .carousel {
      .carousel-indicators {
        bottom: 0;
      }
      .carousel-inner {
        .csseco_slides {
          height: 350px;
          .entry-excerpt {
            &.image-caption {
              bottom: 0;
              color: $csseco_light-grey;
              left: 0;
              margin: 0;
              padding: 0 15px;
              position: absolute;
              right: 0;
              text-align: center;
              @extend %background-gradient;
              @include animate( transform, 320ms );
              @include transform( translateY(100%) );
              p {
                margin: 40px 0;
                font-size: 14px;
              }
            }
          }
        }
      }
      .carousel-control {
        background: none;
        padding: 0 30px;
        width: auto;
        .control-wrapper {
          position: relative;
          i {
            padding: 2px;
          }
          .preview-thumb {
            border-radius: 5px;
            bottom: -5px;
            display: inline-block;
            height: 68px;
            position: absolute;
            top: -10px;
            width: 68px;
            @include animate( transform, 320ms );
            @include transform(scale(0));
          }
        }
        &.left {
          .control-wrapper {
            .preview-thumb {
              left: 30px;
            }
          }
        }
        &.right {
          .control-wrapper {
            .preview-thumb {
              right: 30px;
            }
          }
        }
        &:hover {
          .control-wrapper {
            .preview-thumb {
              @include transform(scale(1));
            }
          }
        }
      }
      &:hover {
        .carousel-inner {
          .csseco_slides {
            .entry-excerpt {
              &.image-caption {
                @include transform(translateY(0));
              }
            }
          }
        }
      }
    }
    h1.entry-title {}
    .entry-meta {}
  }
  .entry-content {}
  footer.entry-footer {
    /* ../base/_globals.scss */
  }
}